
#toast {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px;
    z-index: 99999;
  }
  
  .hero-body {
    text-align: center;
  }
  
  .modal-content {
    max-width: 500px;
    margin: auto;
  }
  
  .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .date-input {
    padding: 10px;                     
    border: 2px solid gray;     
    border-radius: 5px;                          
    background-color: #f9f9f9;     
    transition: border-color 0.3s;  
}

.date-input:focus {
    outline: none;                     
    border-color: #0056b3;           
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.date-input::placeholder {
    color: #999;                       
    opacity: 1;                       
}
.date-input-add {
  padding: 10px;   
  width: 100%;              
  border: 2px solid gray;     
  border-radius: 5px;                          
  background-color: #f9f9f9;     
  transition: border-color 0.3s;  
}

.date-input-add:focus {
  outline: none;                     
  border-color: #0056b3;           
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.date-input-add::placeholder {
  color: #999;                       
  opacity: 1;                       
}


.form-group {
  margin: 1rem 0; 
}
select[multiple] {
  width: 100%; 
  height: 100px; 
  padding: 0.5rem;
  font-size: 1rem; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  transition: border-color 0.3s ease; 
}

select[multiple]:focus {
  border-color: #007BFF;
  outline: none;
}


select {
  width: 100%; 
  padding: 0.5rem; 
  font-size: 1rem; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: #fff; 
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: gray; 
  outline: none; 
}

select option {
  padding: 0.5rem; 
}

select:hover {
  border-color: #007BFF;
}



  